/* COLOR VARIABLES */
:root {
	--col1: #00ff00;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    background-image: url("files/GrayLogo.png");
    background-size: 50%;
    font-family: 'Courier New', Courier, monospace;
    
    color: var(--col1);
}

body {
    display: flex;
    flex-direction: column;

}

h1 {
    margin: auto;
    margin-top: 3em;
    font-size: 3em;
}

h2 {
    margin: auto;
    margin-top:4em;

}

.container {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--col1);
    border-radius: 1em;
    
}

nav a {
    text-decoration: none;
    color: var(--col1);
    padding: 12px;
    font-size: 1.25em;

    transition: color 0.15s, background-color 0.15s;
}

nav a:hover {
    background-color: var(--col1);
    color: #1f1f1f;
}

nav div {
    padding-top: 12px;
    width: 50%;
    border-right: 1px solid var(--col1);
}

input, button {
    padding: 10px;
    margin: auto;
    margin-top: 1em;
    font-size: 3em;
    width: 50vw;
    background-color: #0f0f0f;
    border: 1px solid var(--col1);
    color: var(--col1);
    font-family: 'Courier New', Courier, monospace;
}

button {
    width: fit-content;
    margin-top: 1em;
}

.content {
    margin: auto;
    margin-top:1em;
    font-size: 1.4em;
    max-width: 50%;
}
