/* COLOR VARIABLES */
:root {
	--col1: #00ff00;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--col1);
    
}

nav a {
    text-decoration: none;
    color: var(--col1);
    padding: 12px;
    font-size: 1.25em;
}

nav a:hover {
    background-color: var(--col1);
}